.google-button {
  width: 100%;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid gray;
  outline: none;
  cursor: pointer;

  &:hover {
    background-color: rgb(209, 209, 209);
  }
}
