/* Style the scrollbar */

/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #3082cf #a0c5e9;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 14px;
}

*::-webkit-scrollbar-track {
  background: #a0c5e9;
}

*::-webkit-scrollbar-thumb {
  background-color: #3082cf;
  border-radius: 20px;
  border: 3px solid #a0c5e9;
}

/* Scrolling class is needed for horizontal scroll */
.scrolling-wrapper-flexbox {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}

.scrolling-wrapper-flexbox .card {
  flex: 0 0 auto;
}

.hideScrollBar ::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge add Firefox */
.hideScrollBar {
  -ms-overflow-style: none;
  scrollbar-width: none; /* Firefox */
}

/* Apply dark shadow to a card */
.cardDarkShadow {
  /* offset-x | offset-y | blur-radius | spread-radius | color */
  box-shadow: 1px 2px 4px 3px rgba(0, 0, 0, 0.2);
}

/* Apply light shadow to a card */
.cardLightShadow {
  box-shadow: 1px 2px 4px 3px rgba(248, 248, 248, 0.2);
}

/* Apply top spacing for every element in a flex container */
.flexboxGap > * + * {
  margin-top: 10px;
}

/* Apply nice hover for add to cart button*/
