@use 'sass:math';
@import './themeColors.scss';
@import './home.scss';
@import './cart.scss';
@import './snackbar.scss';
@import './auth.scss';

/* Draw border for cart */

/* Style the scrollbar */

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: $primaryBlue #b8d3ee;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 14px;
}

*::-webkit-scrollbar-track {
  background: #a0c5e9;
}

*::-webkit-scrollbar-thumb {
  background-color: $primaryBlue;
  border-radius: 20px;
  border: 3px solid #a0c5e9;
}

/* Scrolling class is needed for horizontal scroll */
.scrolling-wrapper-flexbox {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;

  .card {
    flex: 0 0 auto;
  }
}

.hideScrollBar ::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge add Firefox */
.hideScrollBar {
  -ms-overflow-style: none;
  scrollbar-width: none; /* Firefox */
}

/* Apply dark shadow to a card */
.cardDarkShadow {
  /* offset-x | offset-y | blur-radius | spread-radius | color */
  box-shadow: 1px 1px 1px 1px rgb(255, 255, 0.3);
}

/* Apply light shadow to a card */
.cardLightShadow {
  box-shadow: 1px 2px 4px 3px rgba(248, 248, 248, 0.2);
}

/* Apply top spacing for every element in a flex container */
.flexboxGap > * + * {
  margin-top: 10px;
}

@mixin btn-border-drawing(
  $color: #ccc,
  $hover: black,
  $width: 2px,
  $vertical: top,
  $horizontal: left,
  $duration: 0.25s
) {
  box-shadow: inset 0 0 0 $width $color;
  transition: color $duration math.div($duration, 3);
  position: relative;

  &::before,
  &::after {
    border: 0 solid transparent;
    box-sizing: border-box;
    content: '';
    pointer-events: none;
    position: absolute;
    width: 0;
    height: 0;

    #{$vertical}: 0;
    #{$horizontal}: 0;
  }

  &::before {
    $h-side: if($horizontal == 'left', 'right', 'left');

    border-#{$vertical}-width: $width;
    border-#{$h-side}-width: $width;
  }

  &::after {
    $v-side: if($vertical == 'top', 'bottom', 'top');

    border-#{$v-side}-width: $width;
    border-#{$horizontal}-width: $width;
  }

  &:hover {
    &::before,
    &::after {
      border-radius: 7px;
      border-color: $hover;
      transition: border-color 0s, width $duration, height $duration;
      width: 100%;
      height: 100%;
    }

    &::before {
      transition-delay: 0s, 0s, $duration;
    }

    &::after {
      transition-delay: 0s, $duration, 0s;
    }
  }
}

@mixin btn-bottom-border-drawing(
  $color: #ccc,
  $hover: black,
  $width: 2px,
  $vertical: top,
  $horizontal: left,
  $duration: 0.25s
) {
  box-shadow: inset 0 0 0 $width $color;
  transition: color $duration math.div($duration, 3);
  position: relative;

  &::before,
  &::after {
    border: 0 solid transparent;
    box-sizing: border-box;
    content: '';
    pointer-events: none;
    position: absolute;
    width: 0;
    height: 0;

    #{$vertical}: 0;
    #{$horizontal}: 0;
  }

  &::after {
    border-#{$horizontal}-width: $width;
  }

  &:hover {
    &::before,
    &::after {
      border-radius: 7px;
      border-color: $hover;
      transition: border-color 0s, width $duration, height $duration;
      width: 100%;
      height: 100%;
    }

    &::before {
      transition-delay: 0s, 0s, $duration;
    }

    &::after {
      transition-delay: 0s, $duration, 0s;
    }
  }
}

.draw-bottom-border-yellow-green {
  @include btn-bottom-border-drawing($primaryYellow, $primaryGreen, 4px, right, bottom);
}

.draw-bottom-border-yellow-blue {
  @include btn-bottom-border-drawing($primaryYellow, $primaryBlue, 4px, right, bottom);
}

.draw-bottom-border-white-blue {
  @include btn-bottom-border-drawing($primaryWhite, $primaryBlue, 4px, right, bottom);
}

.draw-border-yellow-green {
  @include btn-border-drawing($primaryYellow, $primaryGreen, 4px, right, bottom);
}

.draw-border-green-green {
  @include btn-border-drawing($primaryGreen100, $primaryGreen, 4px, right, bottom);
}

.draw-border-yellow-blue {
  @include btn-border-drawing($primaryYellow, $primaryBlue, 4px, right, bottom);
}

.show-detail {
  opacity: 0;
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -ms-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}

.parent-show-detail:hover .show-detail {
  opacity: 1;
}

a p {
  :link,
  :visited,
  :hover,
  :active {
    text-decoration: none;
    color: inherit;
  }
}

/* Prevent overflow*/
main {
  min-width: 0;
}

/* Loading component */
@keyframes loaderSpinning {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.google-button {
  border-radius: 5px !important;
  padding: 5px !important;
  color: $primaryBlack !important;
}

.facebook-button-class {
  text-align: center;
  display: inline;
  background: $primaryBlue100;
  padding: 10px;
  min-width: 100%;
  border-radius: 5px;
}

.fa {
  margin-right: 10px;
}
