.home-container {
  padding-right: 6vw;
  @media only screen and (min-width: 0px) {
    grid-template-columns: 1fr;
    grid-template-areas:
      'recBooks'
      'recCds'
      'favBooks'
      'athBooks';
  }
  @media only screen and (min-width: 900px) {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
      'recBooks recBooks recBooks'
      'recBooks recBooks recBooks'
      'recCds recCds recCds'
      'favBooks favBooks favBooks'
      'athBooks athBooks athBooks';
  }
  @media only screen and (min-width: 1300px) {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
      'recBooks recBooks .'
      'recBooks recBooks .'
      'recCds recCds recCds'
      'favBooks favBooks favBooks'
      'athBooks athBooks athBooks';
  }
}

.cd-rec-container {
  grid-template-areas:
    'playDescBt'
    'horizCds'
    'titleCd'
    'artists'
    'player'
    'tracks'
    'buy';
}
