.home-container {
  @media only screen and (min-width: 0px) {
    grid-template-columns: 1fr;
    grid-template-areas:
      'recBooks'
      'recCds'
      'favBooks'
      'athBooks';
  }
  @media only screen and (min-width: 900px) {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
      'recBooks recBooks recCds'
      'recBooks recBooks recCds'
      'favBooks favBooks favBooks'
      'athBooks athBooks athBooks';
  }
  @media only screen and (min-width: 1300px) {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
      'recBooks recBooks recCds'
      'favBooks favBooks recCds'
      'favBooks favBooks recCds'
      'athBooks athBooks athBooks';
  }
}

.cd-rec-container {
  grid-template-areas:
    'playDescBt'
    'horizCds'
    'titleCd'
    'artists'
    'player'
    'tracks'
    'buy';
}
